<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <a class="navbar-brand">Menu</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="home">Accueil</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="loan">Capacité d'emprunt</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="monthly-payment">Calcul de mensualité</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="real-estate-search">Recherche immobilière</a></li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>